
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared stylea */
.display-flex{
    display: flex;
}
.bg-2{
    background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
    background-color: #FF900E;
    color: #ffffff;
    font-size: 1.25rem;
    padding: 20px 25px;
    font-weight: bold;
    border: none;
    border-radius: 10px;

}
/* dark-02 */
.grey{
    color: #424242;
}
/* dark-03 */
.light-grey{
    color: #727272;
}


/* main styles */
main{
    max-width: 1440px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
}
/* header styles */


/* navbar related styles */
.navbar{
    justify-content: space-between;
    text-align: center;
}
.nav-item{
    list-style: none;
    margin-right: 20px;
}
.nav-link{
    text-decoration: none;
}
.navbar,.banner{
    max-width: 1440px;
    margin: 0 auto;
}
/* Banner related styles */

.banner-content{
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}
.banner img{
    width: 100%;
    height: auto;
}
/* Features section styles */

.features{
    align-items: center;
}
.features-image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.features-content{
    max-width: 530px;
    margin-left: 130px;
}
.features-title{
    font-size: 1.8rem;
}
.quick{
    color: #727272;
    font-weight: 600;
}
.list{
    color: #131313;
    font-weight: bold;
}
.last-word{
    color: #FF900E;
    font-weight: bold;
}
/* responsive styles */
@media screen and (max-width: 576px) {
    .navbar,
    .nav-links,
    .features{
        flex-direction: column;
    }

    .features-image-container {
        grid-template-columns: repeat(1, 1fr);  
    }

    .features-content {
        margin-left: 20px;
    }
}

@media screen and (min-width: 576px) and (max-width: 992px){
    .navbar,
    .nav-links,
    .features{
        flex-direction: column;
    }
     .features-content {
        margin: 20px;
    }
}